<li class="feed-item <%= item.type.parameterize %>">
  <nav class="actions">
    <% if can_recommend? item %>
      <div class="recommend">
        <% if item.recommended? %>
          <%= link_to t("feeder.views.unrecommend"), feeder.unrecommend_item_path(id: item.id), method: :post %>
        <% else %>
          <%= link_to t("feeder.views.recommend"), feeder.recommend_item_path(id: item.id), method: :post %>
        <% end %>
      </div>
    <% end %>
  </nav>

  <% if item.recommended? %>
    <div class="recommended">
      Recommended
    </div>
  <% end %>

  <%= render "feeder/types/#{item.type}", feedable: item.feedable %>
</li>
