<!DOCTYPE html>
<html>
<head>
  <title>Feeder</title>
  <%= stylesheet_link_tag    "feeder/application", media: "all" %>
  <%= javascript_include_tag "feeder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
